@import "../../../styles.scss";

.note-list{
  width: 300px;
  background-color: $clr-black;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);

  &-main{
    height: 600px;
    overflow: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $clr-charcoal;
      border-radius: 24px;
    }
  }

  &-head{
    height: 60px;
    padding: 24px 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .sidebar-toggle-btn{
    color: $clr-gray;
    transition: $transition-default;
    &:hover{
      color: $clr-white;
    }
  }
  .note-list-title{
    font-weight: 500;
  }
  .modal-open-btn{
    color: $clr-gray;
    transition: $transition-default;
    &:hover{
      color: $clr-white;
    }
  }

  .add-note-btn{
    width: 22px;
    height: 22px;
    border: 1px solid $clr-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
  }

  .note-list-search{
    padding: 12px 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #1B1F24;
  }

  .search-group{
    position: relative;
    .search-error{
      position: absolute;
      top: 100%;
      left: 0;
      font-size: 11px;
      font-weight: 300;
      background-color: $clr-bittersweet;
      padding-right: 8px;
      padding-left: 8px;
      border-radius: 2px;
    }
    .search-btn{
      margin-right: 16px;
    }
    .search-control{
      background-color: transparent;
      caret-color: $clr-white;
      font-weight: 300;
      letter-spacing: 0.5px;
      font-size: 15px;
      color: $clr-white;

      &::placeholder{
        color: rgba(255, 255, 255, 0.4);
        font-weight: 300;
        letter-spacing: 0.5px;
        font-size: 15px;
      }
    }
  }

  .note-list-main{
    padding: 24px 18px;
  }
  .note-item.intro{
    background-color: $clr-charcoal;
    margin-bottom: 8px;
  }
  .note-item{
    border-radius: 8px;
    padding: 14px;
    position: relative;
    margin-bottom: 2px;
    cursor: pointer;
    border: 2px solid transparent;

    &:hover{
      border: 2px solid rgba(255, 255, 255, 0.1);
    }
  }
  .note-item-icon{
    position: absolute;
    right: 8px;
    top: 6px;
    color: $clr-malachite;
    font-size: 14px;
  }
  .note-item-title{
    font-weight: 500;
  }
  .note-item-text{
    font-size: 14px;
    margin-top: 8px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.5px;
  }
}

.selected-note{
  border: 2px solid rgba(255, 255, 255, 0.1)!important;
}


@media screen and (max-width: 992px){
  .note-list{
    margin-top: 60px;
    width: 100%;

    &-main{
      height: 300px;
    }
  }
}
