<div class="sidebar">
  <div class="sidebar-head">
    <div class="logo flex items-center">
      <div class="logo-circle"></div>
      <div class="logo-circle"></div>
      <div class="logo-circle"></div>
    </div>
  </div>

  <div class="sidebar-main">
    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#" class="nav-link active">
            <span class="nav-link-icon">
              <i class="bi bi-house"></i>
            </span>
            <span class="nav-link-text">Home</span>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-link-icon">
              <i class="bi bi-sticky"></i>
            </span>
            <span class="nav-link-text">All Notes</span>
          </a>
        </li> -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-link-icon">
              <i class="bi bi-bell"></i>
            </span>
            <span class="nav-link-text">Notifications</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-link-icon">
              <i class="bi bi-gear"></i>
            </span>
            <span class="nav-link-text">Settings</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-link-icon">
              <i class="bi bi-tag"></i>
            </span>
            <span class="nav-link-text">All Tags</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-link-icon">
              <i class="bi bi-question-circle"></i>
            </span>
            <span class="nav-link-text">Help & Support</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-link-icon">
              <i class="bi bi-trash"></i>
            </span>
            <span class="nav-link-text">Trash</span>
          </a>
        </li>
      </ul>

      <div class="tags">
        <div class="tags-head flex justify-between items-center">
          <h4 class="tags-head-text">tags</h4>
          <a href = "" class="tags-edit-btn uppercase">edit</a>
        </div>
        <ul class="tags-list">
          <li>#name</li>
          <li>#StoryTelling Phrase</li>
          <li>#Take Action & Stake</li>
          <li>#Leandro Paredes</li>
          <li>#Let's try more...</li>
        </ul>
      </div>
    </nav>
  </div>
</div>
